php_flag magic_quotes_gpc Off

#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# Désactivation des magic_quotes:
<ifmodule mod_php5.c>
 php_flag magic_quotes_gpc off
</ifmodule>

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z]*)/@([a-zA-Z]*)\.html$ index.php?c=$1&a=$2 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z]*)/([a-zA-Z]*)\.html$ index.php?c=$1&p=$2 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z]*)/([a-zA-Z]*)@([a-zA-Z]*)\.html$ index.php?c=$1&p=$2&a=$3 [L,QSA]
